body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ae16f5, #66c2ff);
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  }


#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
