.TodoSearch {
  background: #3559d8;
  border-radius: 20px;
  border: none;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #fff;
  box-shadow: inset 0 0 25px 8px rgba(34,61,160,.6);
}

.TodoSearch::placeholder {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #ae00ff;
  box-shadow: 0 0 15px 0 rgba(10,21,90,.9);;
}
